body {
    max-width: 1400px;
    margin: 100px auto;
    font-family: sans-serif;
}

.section {
    padding: 0 10%;
    position: relative;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.top_nav {
    flex-basis: 660px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 60%;
}

.log {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 40%;
}

.nav {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-weight: 600;
    transition-duration: .3s;
}

.nav:hover {
    opacity: 1;
}

.btn {
    margin: 0 5px;
    font-weight: 600;
    color: #FB8F1D;
    background-color: #fff;
    width: 130px;
    height: 50px;
    border: 2px solid #FB8F1D;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .4s;
}

.btn:hover {
    color: #fff;
    background-color: #FB8F1D;
}

.btn:focus {
    outline: none;
}

.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    padding: 20px;
}

.menu {
    flex: 0 1 470px;
}

.s_2 {
    flex: 0 1 660px;
}

.s_2 img {
    width: 100%;
}

.h_large {
    font-family: serif;
    font-size: 4.5em;
    font-weight: 600;
}

.h_small {
    display: none;
}

.title {
    margin: 70px 0 0 10px;
    font-weight: 600;
    font-size: 1.2em;
}

.menu hr {
    width: 30px;
    margin: 10px 0 0 10px;
    border: none;
    height: 3px;
    background-color: #202336;
    border-radius: 1px;
    opacity: .7;
}

.finders {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.finder {
    min-width: 120px;
    max-width: 220px;
    flex: 1 1 40%;
    height: 50px;
    border: 1px solid #AFB0B9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
}

.name_finder {
    margin-left: 20px;
}

.finder img {
    margin-right: 20px;
    transition-duration: .3s;
}

.finder:hover img {
    transform: scale(1.2, 1.2) translate(0, 4px);
}

.exp {
    margin-top: 50px;
}

h2 {
    font-size: 2.5em;
    margin: 0 0 20px;
}

@media (max-width: 1200px) {

    .h_large {
        display: none;
    }

    .h_small {
        display: block;
        font-family: serif;
        font-size: 4.5em;
        font-weight: 600;
        text-align: center;
    }

    .finder {
        flex: 1 1 50%;
    }

    .title {
        margin-top: 0;
    }

    .section_1, .section_2 {
        margin-bottom: 150px;
    }
}

@media (max-width: 992px) {
    .top {
        align-items: flex-start;
    }

    .top_nav {
        justify-content: space-around;
        align-items: flex-start;
    }

    .page {
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 100px;
        margin-left: 30px;
    }

    .log {
        flex: 0 1 200px;
    }

    .nav {
        margin-bottom: 10px;
    }

    .section_1 {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .section_2 {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 100px;
        padding: 0;
    }

    .menu {
        order: 2;
    }

    .finder {
        flex: 1 1 40%;
    }

    .exp {
        margin-bottom: 50px;
    }

    h2 {
        font-size: 2em;
    }

    .s_2 {
        flex: 0 1 640px;
        order: 1;
        margin-bottom: 50px;
    }

}

@media (max-width: 768px) {

    .h_small {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    body {
        margin-top: 50px;
    }
}

@media (max-width: 576px) {

    body {
        margin-top: 20px;
    }

    .section_1, .section_2 {
        margin-bottom: 50px;
    }

    .log {
        flex-wrap: wrap;
    }

    .btn {
        margin-bottom: 10px;
        width: 90px;
        height: 40px;
    }
}

@media (max-width: 310px) {
    .top {
        flex-wrap: wrap;
    }

    .logo {
        margin: 0 0 20px 30px;
    }
}

.s_1 {
    flex: 0 1 481px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text {
    font-weight: 700;
    opacity: 50%;
    line-height: 2em;
}

.s_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}

.s_3 h2 {
    margin: 0;
}

.view_photo_text {
    color: #FB8F1D;
    cursor: pointer;
    margin: 0 30px;
}

.photos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.photo_box {
    margin: 1% 1.5%;
    flex: 1 1 20%;
    position: relative;
}

.photo_box img {
    width: 100%;
}

.location {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0 5px 0 0;
}

.city, .country {
    margin-top: 10px;
    font-size: .8em;
}

.city {
    font-weight: 700;
}

@media (max-width: 992px) {
    .s_3 {
        flex-wrap: wrap;
    }

    .photos {
        flex-wrap: wrap;
    }

    .photo_box {
        flex: 1 1 40%;
    }

    .city, .country {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .s_3 {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .view_photo_text {
        margin: 20px 0 0 0;
        display: block;
    }

    .photo_box {
        flex: 1 1 80%;
        margin: 2% 1.5%;
    }

    .p {
        display: none;
    }
}

.text_block {
    padding-left: 10px;
    height: 100%;
}

.text_block .text {
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 20px;
    height: 30%;
    overflow: hidden;
}

.more {
    color: #FB8F1D;
    cursor: pointer;
}